body
{
	background-color:#2E2329;
}

#loading
{
	animation: loading 10s linear;
	height: 40px;
	width: 41px;
	position: absolute;
	font-family: 'Oswald',sans-serif ;
	font-size: 2em;
	color:#eee;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	opacity: 0;
}
@keyframes loading
{
	1% {opacity: 1;}
	99% {opacity:1;}
	100% {opacity:0;}
}
#progress
{
	animation: progress 10s linear;
	position:absolute;
	background-color: #eee;
	height: 10px;
	width:0px;
	top: calc(50%);
	left: calc(50% - 40px);
}

@keyframes progress
{
	20% {width:20px;}
	40% {width:40px;}
	60% {width:60px;}
	80% {width:85px;}
	100% {width:110px;}
}

#home a
{
	position: absolute;
	left: calc(50% - 110px);
	width: 50px;
	color: #bbb !important;
	font-size: 2em;
	text-align: center;
	box-shadow: none;

}
#facebook a
{
	position: absolute;
	left: calc(50% - 60px);
	width: 50px;
	color: #bbb !important;
	font-size: 2em;
	text-align: center;
	box-shadow: none;

}
#twitter a
{
	position: absolute;
	left: calc(50% - 10px);
	width: 50px;
	color: #bbb !important;
	font-size: 2em;
	text-align: center;
	box-shadow: none;

}
#linkedin a
{
	position: absolute;
	left: calc(50% + 40px);
	width: 50px;
	color: #bbb !important;
	font-size: 2em;
	text-align: center;
	box-shadow: none;

}
#github a
{
	position: absolute;
	left: calc(50% + 90px);
	width: 50px;
	color: #bbb !important;
	font-size: 2em;
	text-align: center;
	box-shadow: none;

}

#home a:hover,#facebook a:hover, #github a:hover, #linkedin a:hover, #twitter a:hover
{
	color: #fff !important;
	font-size: 2.2 em;
}

#bio-header
{
	animation: bio-header 12s linear ;
	height: 200px;
	width: 500px;
	position: absolute;
	font-family: 'Great Vibes',cursive;
	font-size: 5em;
	color:#eee;
	top: calc(50% - 100px);
	left: calc(50% - 180px);
	opacity: 1;
}
@keyframes bio-header
{
	0% {opacity:0;}
	83% {opacity:0;}
	100% {opacity: 1;}
}

#bio
{
	animation: bio 12s linear ;
	height: 200px;
	width: 800px;
	position: absolute;
	font-size: 1.3em;
	color:#eee;
	top: calc(50% );
	left: calc(50% - 350px);
	opacity: 1;
	text-align: center;
}
@keyframes bio
{
	0% {opacity:0;}
	83% {opacity:0;}
	100% {opacity: 1;}
}

#menus
{
	animation : menus 12s linear;
	position: absolute;
	top: calc(50% + 75px);
	left: calc(50% - 240px);
	opacity: 1;
	overflow: auto;
}
#menus ul
{
	display:flex;  
	list-style:none;
}
#menus ul li
{
	padding-left: 20px;
}
#menus ul li a:hover
{
	font-size:1.7em;
}
#menus h3
{
	padding: 10px 30px;
	display: inline-block;
	float: left !important;
	font-family: 'Oswald',sans-serif;
	font-size: 1.5em;
	color: #eee;
	border: 3px solid #eee;
}
@keyframes menus
{
	0% {opacity:0;}
	90% {opacity:0;}
	100% {opacity: 1;}
}

.profile
{
	animation : profile 12s linear;
	border: 2px solid #aaa;
	-webkit-box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
	-moz-box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
	box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
	opacity: 1;
	width: 7%;
	position: absolute;
	top: calc(50% - 125px);
	left: calc(50% + 260px);
}

@keyframes profile
{
	0% {opacity:0;}
	90% {opacity:0;}
	100% {opacity: 1;}
}

