.navbar-default
{
	background-color:#474747;
	margin-bottom: 0;
	border-bottom: none;
}
.logo
{
	width: 80px;
	height: 80px;
	padding: 10px 15px;
}

.navbar-brand,
.navbar-nav li a
{
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	margin-left: 1 px;
	background-color: #474747;
	font-family: 'Oswald',sans-serif;
	font-size: 1.3em;
	color:#fff;
	border-right:1px solid #393939;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.2);
	-moz-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.2);
	box-shadow: 1px 0px 0px 0px rgba(255,255,255,.2);
}
.navbar-brand
{
	padding-right: 0px;
}
.navbar-default .navbar-nav>li>a
{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: #fff;
	background-color:#535252;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color: #fff;
	background-color: #535252;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
	background-color: #3d3d3d;
}
.navbar-default .navbar-toggle
{
	margin-top: 25px;
	border-color: #646464;
}
li.twitter a
{
	width: 80px;
	background-color: #5ea9dd !important;
	color: #fff !important;
	font-size: 1.8em;
	text-align: center;
	box-shadow: none;
	border-right: none;
	
}
li.linkedin a
{
	width: 80px;
	background-color: #1a85bb !important;
	color: #fff !important;
	font-size: 1.8em;
	text-align: center;
	box-shadow: none;
	border-right: none;
	
}
li.facebook a
{
	width: 80px;
	background-color: #3b5998 !important;
	color: #fff !important;
	font-size: 1.8em;
	text-align: center;
	box-shadow: none;
	border-right: none;
	
}
li.github a
{
	width: 80px;
	background-color: #1d9d73 !important;
	color: #fff !important;
	font-size: 1.8em;
	text-align: center;
	box-shadow: none;
	border-right: none;
	
}
li.twitter a:hover,li.facebook a:hover,li.linkedin a:hover,li.github a:hover
{
	font-size: 3em;
}

header
{
	height: 600px;
	text-align:center;
	background-color: #6d6d6d;
	padding-top:100px;
}
.profile-picture
{
	width: 12%;
	border: 6px solid #fff;
	-webkit-box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
	-moz-box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
	box-shadow: 0px 14px 37px -6px rgba(0,0,0,01);
}

header h2
{
	margin-top: 30px;
	color: #fff;
	font-size: 3em;
	font-family: 'Oswald',sans-serif;
}
header p
{
	padding: 0 20px;
	font-size: 1.5em;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.main-content
{
	padding: 30px 70px;
}
.main-content h3
{
	padding: 15px 30px;
	display: inline-block;
	font-family: 'Oswald',sans-serif;
	font-size: 1.5em;
	color: #d559a8;
	border: 3px solid #d559a8;
}

@media (max-width: 768px) 
{
	.navbar-default .navbar-nav>li>a
	{
		width:100%;
		border-bottom: 1px solid #3d3d3d;
		text-align: center;
	}
}